<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="XMCloud">

    <settings>
      <!-- Environments - all item environments used for item patching -->
      <setting name="ItemPatching.Environments" set:value="local, dev, test, prod"></setting>

      <!-- Match "config defined" environments to "item patching" environments -->
      
      <!-- XMCLOUD Sample -->
      <setting name="ItemPatching.Environment" set:value="$(env:ENVIRONMENT_NAME)"></setting>
      <setting name="ItemPatching.Environment" set:value="local" env:require="local"></setting>
      
      <!-- XM/XP Sample -->
      <!--
      <setting name="ItemPatching.Environment" set:value="local" env:require="local"></setting>
      <setting name="ItemPatching.Environment" set:value="dev" env:require="dev"></setting>
      <setting name="ItemPatching.Environment" set:value="test" env:require="test"></setting>
      <setting name="ItemPatching.Environment" set:value="prod" env:require="prod"></setting>
      -->
    </settings>

    <itemPatching type="Sitecore.Feature.ItemPatching.Configs.ItemPatchingConfig, Sitecore.Feature.ItemPatching">
      <locations hint="raw:AddItemName">
        <location type="Sitecore.Feature.ItemPatching.Configs.LocationConfig, Sitecore.Feature.ItemPatching">
          <path>/sitecore/content/Sites/MyClient/Settings</path>
          <templates hint="list">
            <!-- JSS Settings - /sitecore/templates/Project/Sites/JSS Settings -->
            <template>{D2DCF80B-A496-45EE-9E7E-505E44AEA25A}</template>
            <!-- Site - /sitecore/templates/Foundation/JSS Experience Accelerator/Multisite/Site -->
            <template>{E46F3AF2-39FA-4866-A157-7017C4B2A40C}</template>
          </templates>
        </location>
        <location type="Sitecore.Feature.ItemPatching.Configs.LocationConfig, Sitecore.Feature.ItemPatching">
          <path><!-- Initial path where you want items controlled by item patching --></path>
          <templates hint="list">
            <!-- List of template ids which items of it will be controlled - scoped by the path above -->
            <template>
              <!-- Template ID -->
            </template>
          </templates>
        </location>
      </locations>
    </itemPatching>

  </sitecore>
</configuration>