<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="XMCloud">
    <settings>
      <setting name="ItemPatching.Database" value="master"></setting>
      <setting name="ItemPatching.TemplateFolder" value="/sitecore/templates/Feature/Item Patching"></setting>
      <setting name="ItemPatching.EnvironmentTemplatePrefix" value="Environment "></setting>
      <setting name="ItemPatching.EnvironmentFolderName" value="_env"></setting>
      <setting name="ItemPatching.EmptyFieldValue" value="[empty]"></setting>


      <!-- Environments - set by client -->
      <setting name="ItemPatching.Environments" value=""></setting>
      <setting name="ItemPatching.Environment" value=""></setting>
    </settings>

    <pipelines>

      <initialize>
        <!-- Setup dependencies on init - plug and play -->
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.Initialize.SetupItemPatchingDependencies, Sitecore.Feature.ItemPatching"></processor>

        <!-- Generate and Apply on Init. You can comment out these processor for manuall operation through buttons in Develpers ribbon -->
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.Initialize.ItemPatchingApply, Sitecore.Feature.ItemPatching"></processor>
      </initialize>

      <!-- Execute tasks to prepare item patching for each environment -->
      <itemPatchingGenerate>
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.ItemPatchingGenerate.CreateEnvTemplateFolder, Sitecore.Feature.ItemPatching"></processor>
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.ItemPatchingGenerate.CreateEnvTemplates, Sitecore.Feature.ItemPatching"></processor>
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.ItemPatchingGenerate.CreateEnvInstances, Sitecore.Feature.ItemPatching"></processor>
      </itemPatchingGenerate>

      <!-- Apply environment values to templates -->
      <itemPatchingApply>
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.ItemPatchingApply.ApplyPatches, Sitecore.Feature.ItemPatching"></processor>
      </itemPatchingApply>

      <!-- Ensure Raw Values is enable for editing env items. -->
      <getContentEditorWarnings>
        <processor type="Sitecore.Feature.ItemPatching.Pipelines.GetContentEditorWarnings.EditOnlyRawValues, Sitecore.Feature.ItemPatching"/>
      </getContentEditorWarnings>

    </pipelines>

    <events>
      <event name="packageinstall:ended">
        <handler type="Sitecore.Feature.ItemPatching.Handlers.PackagingEventHandler, Sitecore.Feature.ItemPatching" method="Apply" />
      </event>
    </events>

    <commands>
      <command name="itempatching:generate" type="Sitecore.Feature.ItemPatching.Commands.Generate, Sitecore.Feature.ItemPatching" />
      <command name="itempatching:apply" type="Sitecore.Feature.ItemPatching.Commands.Apply, Sitecore.Feature.ItemPatching" />
    </commands>
  </sitecore>
</configuration>